<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Farmacia General Paz</h1>
    <p class="lead">Por favor elija el tipo de atención requerida para iniciar. Gracias</p>
  </div>
</div>